name: Publish Adom.Framework.Security Nuget package

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 10.0.x

      - name: NerdbankGitVersioning
        uses: dotnet/nbgv@v0.4.0
        id: nbgv
        with:
          # The path to the directory for which the version should be determined. This should be at or below the directory containing the version.json file. Default is repo root directory.
          path: .

      - name: Build with dotnet
        run: dotnet build Adom.Framework/src/Adom.Framework.Security/Adom.Framework.Security.csproj --configuration Release

      - name: Pack with dotnet
        run: |
          dotnet pack Adom.Framework/src/Adom.Framework.Security/Adom.Framework.Security.csproj --output nuget-packages --configuration Release -p:Version=${{ steps.nbgv.outputs.SemVer2 }}
          ls -l
          cd nuget-packages
          ls -l
          cd ..\
      - name: Push generated package to Nuget
        if: github.ref == 'refs/heads/main'
        run: dotnet nuget push nuget-packages/Adom.Framework.Security*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json
